:root {
    --theme-color: #6bbddb;
    --alt-theme-color: #c959a8;
}

html {
    font-family: 'Merriweather', serif;
}

table {
    border-collapse: collapse;
}

th, td {
    padding-left: 20px;
}

body, html{
    margin: 0; /*100vh creates scrollbar otherwise*/
}

.centered-flex-root-container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: top; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 100vh;
    /*border: 2px solid black;*/
}

.centered-flex-root-container-horizontal {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    align-items: center;     /* center items horizontally, in this case */
    height: 100vh;
    /*border: 2px solid black;*/
}

.centered-flex-item {
    /*border: 2px solid green;*/
    /*text-align: center;     !* will center text in <p>, which is not a flex item *!*/
}

.text-warning {
    color: orange;
}

.link {
    color: var(--theme-color);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link-button {
    border: 2px solid var(--theme-color);
    background-color: var(--theme-color);
    color: white;
    text-decoration: none;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    margin-right: 5px
}

/*apply link-button first*/
.link-button-inverse {
    color: var(--theme-color);
    background-color: white;
}

ul {
    list-style-type: square;
    padding-left: 0;
    list-style-position: inside;
}

.toolbar {
	background-color: #333;
	overflow: hidden;
}

.toolbar a {
	float:left;
	color: var(--theme-color);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font size: 17px;
}

.toolbar a:hover {
	background-color: #ddd;
	color: black;
}

.toolbar a.active {
	background-color: var(--theme-color);
	color: white;
}

#iframeDocs {
	position: relative;
	left: 0px;
	width: 100%;
	top: 0px;
	height: 100%;
	border: none;
}

.docs-iframe {
	overflow: hidden;
	padding-top: 48px;
	position: absolute;
	top: 48px;
	left: 0;
	right: 0;
	bottom: 0;
}

.imgCol {
	float: left;
	width: 200px;
	padding: 5px;
}

.imgRow::after {
	content: "";
	clear: both;
	display: table;
}

.menuItem {

}
